<button hx-get="{% url 'game:update_players' game.id %}"
        hx-target=".players"
        hx-swap="innerHTML"
        id="update-players"
        class="hidden-btn"></button>
<button hx-get="{% url 'game:get_categories' game.id %}"
        hx-target=".main-game-block"
        hx-swap="innerHTML"
        id="get-categories"
        class="hidden-btn"></button>
<button hx-get="{% url 'game:play-category' game.id %}"
        hx-target=".main-game-block"
        hx-swap="innerHTML"
        id="next-question"
        class="hidden-btn"></button>
<button hx-get="{% url 'game:get-statistics' game.id %}"
        hx-target=".game-question-block"
        hx-swap="outerHTML"
        id="get-statistics"
        class="hidden-btn"></button>
<button hx-get="{% url 'game:finish_game' game.id %}"
        hx-target=".main-game-block"
        hx-swap="innerHTML"
        id="finish-game"
        class="hidden-btn"></button>
